@tailwind base;

@tailwind components;

@tailwind utilities;


.btn {
    @apply text-white font-semibold rounded px-4 py-2 noselect;
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 500ms linear;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn:hover {
    transform: scale(1.1);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn:active {
    transform: scale(1);
    background-position: 500px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn:focus {
    outline: 0;
}

.btn-blue {
    @apply bg-blue-800
}

.btn-blue:hover {
    @apply bg-white text-blue-800;
}

.btn-red {
    @apply bg-red-800
}

.btn-red:hover {
    @apply bg-white text-red-800
}

.btn-green {
    @apply bg-green-800
}

.btn-green:hover {
    @apply bg-white text-green-800
}

.nav-links {
    @apply hidden font-semibold text-white ml-5
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                        supported by Chrome, Opera and Firefox */
}

@responsive {
    .border-box {
        box-sizing: border-box;
    }

    .content-box {
        box-sizing: content-box;
    }
}

#carousel {
    white-space: nowrap;
    overflow: hidden;
}

#carousel li:nth-child(odd) {
    background-color: rgb(255, 255, 255);
    color: black;
}

#carousel li:nth-child(even) {
    background-color: rgb(0, 0, 0);
    color: white;
}

.wavy-blue {
    text-decoration: underline wavy rgb(0, 95, 158);
}